{% block title %}Détails de l'élève{% endblock %}

{% block body %}
    <h1>Notes de {{ eleve.nom }} {{ eleve.prenom }}</h1>

    {% if eleve.notes is not empty %}
        <ul>
            {% for eleve in eleves %}
                <li>
                    {{ eleve.nom }} {{ eleve.prenom }}
                    <a href="{{ path('eleve_show', { id: eleve.id }) }}">Voir les détails</a>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <p>Aucune note disponible pour cet élève.</p>
    {% endif %}
{% endblock %}
